div#container {
    margin:auto;
    max-width: 600px;
    font-family: 'Slabo 27px', serif;
}

ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

li:first-child {
    border-top: 1px solid #333;
}
li {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #333;
    display: list-item;
    text-align: -webkit-match-parent;
}
table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;
}
th {
    border: 1px solid black;
}
tr:nth-child(even) {background-color: #f2f2f2}
th, td {
    padding: 5px;
    text-align: left;
}
th, td {
    width: 15%;
}
#create {
    margin: 20px;
    width: 100%;
}

td.subject, th.subjectHeader {
    width: auto;   
}
td.idCell, th.idHeader {
    width: 7%;   
}